body{
    background-color: #171a35;
}
h1 {
    color:#5c629b
  }
.indivContent h2{
    margin-top: 5px;
    margin-bottom: 2px;
}
#targetArea{
    /* border: 1px solid #3c4488; */
    padding: 5px;
    
}
.clicavel{
    background-color: #292e5f;
}
.clicavel:hover{
    background-color: #394083;
}
.indivContent .header{
    font-weight: bolder;
    font-size: 18px;
}

.indivContent{
    background-color: #292e5f;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.indivContent:hover{
    background-color: #394083;
}
.indivContent .tags{
    color: rgb(46, 17, 17);
    font-weight: bold;
    word-spacing: 3px;
}

